*{
    padding: 0;
    margin: 0;
    border: 0;
}

header{
    background-color: #212121;
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    top: 0;
    color:white;
    font-family: helvetica;
    
}

div.logo{
    display: inline-block;
    padding: 10px;    
    position: relative;
    right: 0;
    text-decoration: none;
    text-align: end;
    bottom: 0;
    

}

ul.menu li{
    display: inline-block;
    padding: 10px;    
    position: relative;
    right: 0;
    text-decoration: none;
    text-align: end;
    left: 500%;
    bottom: 0;
    
}

ul.menu li:hover{
    text-decoration: none;
    background-color: #F9A825 ;
}



main{
    width: 100%;
    height: auto;
    border: 1px solid black;
}



footer{
    width: 100%;
    height: auto;
    background-color: #212121;
    color:white;
    font-family: helvetica;
    align-items: center;
    padding: 30px;
    position: fixed;
    bottom: 0;
    text-align: center;    
}